[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tqdm = "*"
mysqlclient = "*"

[packages]
django = "*"
celery = "*"
pillow = "*"
django-anymail = "*"
django-stdimage = "*"

[requires]
python_version = "3.6"
